
body{
    background-color: rgb(237, 253, 255);
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1300px;
    margin: 0 auto;
    padding: 15px;

}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.title{
    flex-direction: column;
    line-height: 10px;
}
li{
   
    display: inline-block;
    margin: 20px;
}

a{
    color: rgb(38, 68, 72) ;
}

a:hover{
    color: rgb(248, 203, 0);
    transition: 0.3s all;
}

.inscreva-se-btn{
    border: 2px solid rgb(255, 230, 0);
    padding: 10px;
    border-radius: 15px;
}
.inscreva-se-btn:hover{
    background-color: rgb(255, 230, 0);
    color: rgb(38, 68, 72);
}

h1{
    font-weight: 200;
    color: rgb(38, 68, 72);
}

p{
    max-width: 800px;
    text-align: justify;
    font-style: italic;
    line-height: 23px;
}

