body{
    background-color: white;
    color: rgb(38, 68, 72);
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title{
    flex-direction: column;
    line-height: 10px;
}
li{
    display: inline-block;
    margin: 20px;
}

a:hover{
    color: rgb(248, 203, 0);
    transition: 0.3s all;
}

.inscreva-se-btn{
    border: 2px solid rgb(248, 203, 0);
    padding: 10px;
    border-radius: 15px;
}
.inscreva-se-btn:hover{
    background-color: rgb(248, 203, 0);
    color: white;
}

h1{
    font-weight: 200;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

aside{
    max-width: 500px;
}

img{
    margin-left: 0;
    max-width: 720px;
}


h2{
    margin: 0;
    font-size: 56px;
    line-height: 47px;
 }

span{
    color: rgb(248, 203, 0);
 }

 p{
    line-height: 20px;
    max-width: 500px;
 }

